async-timeout==4.0.3
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
PlexAPI==4.15.7
pulsar-client==3.4.0
pygogo==1.3.0
redis==5.0.1
requests==2.31.0
sad_libraries @ git+https://github.com/chrisjohnson00/plex-sad-libraries.git@7e31a8fb75ff35f2b0636cf50914d3ffe35411b9
urllib3==2.2.0
